<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="makeabilitylab.a02_gesturelogger"
    >

    <!-- You must add this line if you want to use writable external storage.
         See: https://developer.android.com/training/data-storage/files.html#ExternalStoragePermissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"> <!-- Force portrait mode only: https://stackoverflow.com/questions/15718869/how-to-lock-android-apps-orientation-to-portrait-mode -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>